.container {
	width: 763px;
	height: 300px;
	margin: 0px 0px 0px -12px;
    background-image: url('../assets/qbox_04.png');
    background-size: cover; 
}

.answerRadioGroupContainer {
	display: flex;
	justify-content: space-between;
	width: 567px;
}