.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFCD5C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-body {
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  align-items: center;
  background-color: #FFCD5C;
}

.button-container {
  padding: 32px;
  width: 234px;
  display: flex;
  justify-content: space-between;
}

